
    <h1> Dashboard </h1>


  <div class="container-1">
    <div class="item-1">
      <form action="/new" method="post">
        <select class="new" name="type">
          <option value="product">Product</option>
          <option value="manufacturer">Manufacturer</option>
        </select>
        <button type="submit" name="button">New</button>
      </form>
    </div>
  </div>

  <div class="container-2">
    <div class="item-2">
      <h2> Total Stock Cost </h2>
        <% buy_cost_arr = @products.map { |product| product.total_buy_cost } %>
      <h2> £ <%= buy_cost_arr.sum %> </h2>
    </div>
    <div class="item-3">
      <h2> Total Stock Value </h2>
        <% sell_cost_arr = @products.map { |product| product.total_sell_cost } %>
      <h2> £ <%= sell_cost_arr.sum %> </h2>
    </div>
    <div class="item-4">
      <h2> Total Profit Margin </h2>
      <h2> £ <%= sell_cost_arr.sum - buy_cost_arr.sum %></h2>
    </div>
  </div>

  <div class="container-3">
    <h2> Low Stock Products </h2>
    <div class="item-5">
      <table>
        <col width="220">
        <col width="100">
        <col width="400">
        <col width="75">
        <col width="75">
        <col width="65">
        <col width="65">
        <col width="65">
        <col width="55">
        <thead>
          <tr>
            <td id="tl"> Name </td>
            <td> Category </td>
            <td> Description </td>
            <td> Buy Cost </td>
            <td> Sell Cost </td>
            <td> Quantity </td>
            <td> </td>
            <td id="tr"> </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <% for product in @products %>
            <form id="index-update" class="update-form" action="/products/<%= product.id %>/update" method="post">
              <%  if product.quantity <= 2 %>
              <td><input type="text" id="name" name="name" value="<%= product.name %>"></td>
              <td><input type="text" id="category" name="category" value="<%= product.category %>"></td>
              <td><input type="text" id="description" name="description" value="<%= product.description %>"></td>
              <td><input type="number" id="buy_cost" name="buy_cost" value="<%= product.buy_cost %>"></td>
              <td><input type="number" id="sell_cost" name="sell_cost" value="<%= product.sell_cost %>"></td>
              <td class="<%= product.quantity == 0 ? 'out-of-stock' : product.quantity <= 2 ? 'low' : 'in-stock' %>"><input type="number" id="quantity" name="quantity" value="<%= product.quantity %>"></td>
            </form>
            <td>
              <form action="/manufacturer/<%= product.manufacturer_id %>/update/show" method="get">
                <button type="submit"> Manufacturer </button>
              </form>
            </td>
            <td>
              <form action="/products/<%= product.id %>/delete" method="post">
                <button id="delete" type="submit"> Delete </button>
              </form>
            </td>
          </tr>
          <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
