

<table>
  <thead>
    <th id="tl"> Name </th>
    <th> Address </th>
    <th> Tel. No. </th>
    <th> Rep Name </th>
    <th>  </th>
    <th>  </th>
    <th id="tr">  </th>
  </thead>
  <% for manufacturer in @manufacturers %>
  <tr>
    <td><%= manufacturer.name %></td>
    <td><%= manufacturer.address %></td>
    <td><%= manufacturer.tel_no %></td>
    <td><%= manufacturer.rep_name %></td>
    <td>
      <form action="/products/show/<%= manufacturer.id %>" method="get">
        <button type="submit"> Products </button>
      </form>
    </td>
    <td>
      <form class="" action="/manufacturer/<%= manufacturer.id %>" method="get">
        <button type="submit"> Update </button>
      </form>
    </td>
    <td>
      <form class="" action="/manufacturer/<%= manufacturer.id %>/delete" method="post">
        <button id="delete" type="submit"> Delete </button>
      </form>
    </td>
  </tr>
  <% end %>
</table>
