
<h1> Manufacturers </h1>

<table>
  <thead>
    <th> Name </th>
    <th> Address </th>
    <th> Tel. No. </th>
    <th> Rep Name </th>
    <th>  </th>
    <th>  </th>
  </thead>
  <% for stock in @stock %>
  <tr>
    <td><%= stock.manufacturer.name %></td>
    <td><%= stock.manufacturer.address %></td>
    <td><%= stock.manufacturer.tel_no %></td>
    <td><%= stock.manufacturer.rep_name %></td>
      <form action="/products/show/<%= stock.manufacturer.id %>" method="get">
        <td> <button type="submit"> Products </button> </td>
      </form>
      <form class="" action="/manufacturer/<%= stock.manufacturer.id %>" method="get">
        <td> <button type="submit"> Update </button> </td>
      </form>
  </tr>
  <% end %>
</table>
