
<h1> Products </h1>

<table>
    <tr>
      <th id="tl"> Name </th>
      <th>

        <form class="filter" action="/products/category" method="post">

          <div class="flex-container">
            <div>
              <select name="category">
                <option value="" selected disabled hidden>Category</option>
                <% for product in @products.uniq { |i| i.category } %>
                <option value="<%= product.category %>"> <%= product.category %> </option>
                <% end %>
              </select>
            </div>
            <div>
              <button type="submit" name="button">Filter</button>
            </div>
          </div>
        </form>
      </th>
      <th> Description </th>
      <th> Buy Cost </th>
      <th> Sell Cost </th>
      <th> Quantity </th>
      <th> </th>
      <th> </th>
      <th id="tr"> </th>
    </tr>
  <% for product in @products %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.category %></td>
      <td><%= product.description %></td>
      <td><%= product.buy_cost %></td>
      <td><%= product.sell_cost %></td>
      <td class="<%= product.quantity == 0 ? 'out-of-stock' : product.quantity <= 2 ? 'low' : 'in-stock' %>"><%= product.quantity %> </td>
      <td>
        <form action="/manufacturer/<%= product.manufacturer_id %>" method="get">
          <button type="submit"> Manufacturer </button>
        </form>
      </td>
      <td>
        <form action="/products/<%= product.id %>" method="get">
          <button type="submit"> Update </button>
        </form>
      </td>
      <td>
        <form action="/products/<%= product.id %>/delete" method="post">
          <button id="delete" type="submit"> Delete </button>
        </form>
      </td>
    </tr>
  <% end %>
</table>
