
<h1> Products </h1>

<table>
    <tr>
      <th id="tl"> Name </th>
      <th> Category </th>
      <th> Description </th>
      <th> Buy Cost </th>
      <th> Sell Cost </th>
      <th> Quantity </th>
      <th> </th>
      <th id="tr"> </th>
    </tr>
  <% for stock in @stocks %>
    <tr>
      <td><%= stock.product.name %></td>
      <td><%= stock.product.category %></td>
      <td><%= stock.product.description %></td>
      <td><%= stock.product.buy_cost %></td>
      <td><%= stock.product.sell_cost %></td>
      <td><%= stock.quantity %> </td>
      <td>
        <form action="/products/manufacturer" method="get">
          <button type="submit"> Manufacturer </button>
        </form>
      </td>
      <td>
        <form action="/products/<%= stock.id %>" method="get">
          <button type="submit"> Update </button>
        </form>
      </td>
    </tr>
  <% end %>
</table>
